@model IEnumerable<MvcLibrary.Models.Present>

@{
    ViewData["Title"] = "Index";
}

<h1>Издательства</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form asp-controller="Presents" asp-action="Index">
    <p>
        <label>Место расположения: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Отфильтровать" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geo_City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Present)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geo_City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
